body{
	background-color:blue;
	background-position:fixed;
}
#main_header{
	border: 0px solid black;
	border-radius:4px;
	background-color:white;
	height:200px;	
}
nav{
	display:inline-block;
	text-align:center;
	width:720px;
	text-align:right;
}
nav ul{
	list-style-type:none;
}
nav li{
	display:inline-block;
margin-left:30px;
}
#main_section{
	border: 0px solid black;
	width:65%;
	margin:auto;
}
#main_section h1{
	text-align:center;
}
#main_footer p{
	text-align:center;
}